/target/classes/io/curiositycore/curiousclasses/archetypes/archetype/interfaces/Archetype.class
/target/classes/io/curiositycore/curiousclasses/archetypes/archetype/interfaces/Builder.class
/target/classes/io/curiositycore/curiousclasses/archetypes/archetype/types/ArchetypeBuilder.class
/target/classes/io/curiositycore/curiousclasses/archetypes/archetype/BaseArchetype.class
/target/classes/io/curiositycore/curiousclasses/archetypes/managers/ArchetypeManager.class
/target/classes/io/curiositycore/curiousclasses/archetypes/skills/interfaces/base/ActiveSkill.class
/target/classes/io/curiositycore/curiousclasses/archetypes/skills/interfaces/base/PassiveSkill.class
/target/classes/io/curiositycore/curiousclasses/archetypes/skills/interfaces/base/TimedSkill.class
/target/classes/io/curiositycore/curiousclasses/archetypes/skills/interfaces/targets/entities/aoe/AoeEntityActiveSkill.class
/target/classes/io/curiositycore/curiousclasses/archetypes/skills/interfaces/targets/entities/aoe/AoeEntityPassiveSkill.class
/target/classes/io/curiositycore/curiousclasses/archetypes/skills/interfaces/targets/entities/singular/SingleEntityAciveSkill.class
/target/classes/io/curiositycore/curiousclasses/archetypes/skills/interfaces/targets/entities/singular/SingleEntityPassiveSkill.class
/target/classes/io/curiositycore/curiousclasses/archetypes/skills/skill/AoeRegen.class
/target/classes/io/curiositycore/curiousclasses/archetypes/skills/skill/BaseSkill.class
/target/classes/io/curiositycore/curiousclasses/utils/TargetSelector.class
/target/classes/io/curiositycore/curiousclasses/CuriousClasses.class
/target/test-classes/ClassTests.class
/target/test-classes/SkillTests.class
